.userlist {
  flex: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.userlist-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.userlistedit {
  border: none;
  border-radius: 10px;
  background-color: #3bb077;
  color: white;
  padding: 10px 12px;
  margin-right: 20px;
  cursor: pointer;
}

.userlist-delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  background-color:#3bb077;
  border-radius: 10px;
  color: white;
  margin-right: 20px;
  padding: 5px 10px;
}
.userlistdelete{
 color: red;
 cursor: pointer;
  
}
.userdiv{
  display: flex;
}