.container{
    display: flex;
    margin-top: 0px;
  margin-top: 0;  
  padding: 0;
  
}
.featuredTitle{
    font-size: 20px;
}
.featuredMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featuredMoney{
    font-size:30px ;
    font-weight: 600;
}
.featruredMoneyrate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featureicon{
    font-size: 14px;
    color: red;
    margin-left: 5px;
}
.featuredicondown{
    color: red;
}
.featuredsublastmonth{
    font-size: 15px;
    color: gray;
}

